@charset "utf-8";

/* General Reset */
*,
::before,
::after {
    margin: 0;
    
    padding: 0;
    box-sizing: border-box;
    font-family: "Playpen Sans", serif;
}

/* Background */
.bg {
    margin-top: 0px;
    background: url('https://thumbs.dreamstime.com/b/dreamy-purple-moon-neon-glow-shines-over-calm-starry-sea-reflection-water-digital-illustration-depicts-324838303.jpg');
    background-position: center center;
    background-size: auto;
    z-index: -2;
}


/* Lightning Animation */
.flashit {
    animation: flash ease-out 7s infinite;
}

@keyframes flash {
    0% {
        opacity: 0.3;
    }

    30% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.3;
    }
}

/* typing terminal */

.terminal-container {
    margin: 30px 25%;
    background-color: black;
    color: #00ff00;
    border: 2px solid #00ff00;
    padding: 10px;
    width: 80%;
    max-width: 500px;
    overflow: hidden;
}

.terminal {
    height: 600px;
    overflow: hidden;
}

#terminal-output {
    margin: 0;
    padding: 0;
    white-space: pre;
}


/* Navbar Styling */
.navbar {
    position: relative;
    z-index: 1000;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 40px;
}

nav ul li a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: blueviolet;
}

/* Main Content Section */
.main-content .container {
    width: 100%;
    height: auto;
    position: relative;
}

.container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14vw;
    mix-blend-mode: multiply;
    font-family: 'Raleway', sans-serif;
}

/* Footer Section */
.footer {
    background-color: black;
    padding: 40px;
}

footer .navbar {
    position: relative;
    z-index: 1000;
    background-color: black;
}

footer nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 40px;
}

footer nav ul li a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

footer nav ul li a:hover {
    color: blueviolet;
}

/* Audio Controls */
#music-toggle {
    font-size: 18px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

#music-toggle:focus {
    outline: none;
}


/* Responsive Styling */
@media screen and (max-width: 630px) {
    #logo {
        font-size: 3rem;
        margin-left: -9rem;
        margin-top: -1rem;
    }
}