

.bus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
 }
 .bus img{
     height: auto;
     width: 800px;
 }

 .zombie-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 500px; 
    position: relative; 
    overflow: hidden; 
    z-index: 2;
    margin-top: 50px;
}


.zombie-map img{
   width: 700px;
   height: 500px;
   transition: transform 1s ease-in-out; 
}



.zombie-map #zoom-in {
    position: absolute;
    z-index: 999;
    width: 100px;
    font-size: 18px;
    transform: translate(200px);
    background-color: transparent;
    border: transparent;
    cursor: zoom-in;
}

.zombie-map #zoom-out {
    position: absolute;
    z-index: 999;
    width: 100px;
    font-size: 18px;
    transform: translate(-200px);
    background-color: transparent;
    border: transparent;
    cursor: zoom-out;
}

.zoom-in {
    transform: scale(1.4);
    filter: saturate(1.2);
}

.zoom-out {
    transform: scale(0.6); 
    filter: saturate(0.8);
}
